.login-container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .left-side-login {
    width: 40%;
    height: 100vh;
    background: url("../assets/backlogin3.png") no-repeat left center;
    background-size: cover;
    background-position: left;
    position: relative;
  }
  
  .right-side-login {
    width: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-box {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .form-box h2 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
  }
  
  .form-box p {
    font-size: 13px;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 8px;
    border-bottom: 2px solid #ccc;
  }
  
  .input-group input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 15px;
  }
  
  .icon {
    margin-right: 8px;
    color: gray;
  }
  
  .register-btn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #a777e3, #6e8efb);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .register-btn:hover {
    background: linear-gradient(to right, #6e8efb, #a777e3);
  }
  
  .login-text {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: gray;
  }
  
  .login-link {
    color: #a777e3;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .login-link:hover {
    color: #6e8efb;
  }
  
  .aga-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: auto;
  }
  
  .message {
    margin-top: 10px;
    font-size: 13px;
    color: #009688;
  }
  
  .form-divider {
    color: #bbb;
    margin: 10px 0;
  }
  